body, html {
  background: #f2f3f7;
  min-height: 100vh;
  font-size: 0.9rem
}
.btn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.66rem;
}
.App-link {
  color: #61dafb;
}

.shadow {
  box-shadow: 0 .1rem .1rem rgba(0,0,0,.05)!important
}

.rounded {
  border-radius: 0.756rem!important
}

hr {
  opacity: 0.1
}

.table th {
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #0000001a;
  border-bottom-color: #0000001a!important
}

.form-control {
  background: #f5f7f9!important;
  font-weight: 400;
  border: none
}
.form-control::placeholder,
.form-control::-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #9fa8b0
}
.form-control:focus {
  background: #f5f7f9;
}
